# Ignore virtual environments
django_env/
venv/
env/
ENV/
.venv/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.py.class

# Django database and media files
db.sqlite3
media/

# Static files collected by collectstatic
/staticfiles/

# Environment variables
.env

# IDE / editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore node_modules
node_modules/

